<% if projects.any? %>
  <div class="row">
    <% projects.each do |project| %>
      <div class="col-sm-12">
        <%= project.name %>
      </div>
    <% end %>
  </div>
  <%= will_paginate projects, renderer: BootstrapPagination::Rails %>
<% else %>
  No Projects found.
<% end %>
